<!DOCTYPE html>
<html>
<head>
    <title>NASA Data</title>

    <!-- attach our stylesheet -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <!-- the header -->
    <header>

        <!-- our main logo -->
            <span>Space Watch</span>
    </header>

    <!-- the content -->
    <main>

        <!-- hero content -->
        <div class="hero">
            <!-- content for the hero -->
            <div class="hero-content">
                <h1 class="hero-title">Asteroids & Planets on the Move</h1>
                <p>When will they strike?</p>

                <a href="#">Asteroids</a>
                <a href="static/Planets.html">Planets</a>
            </div>
        </div>

        <!-- features section -->
        <div class="site-section">
        <div class="site-section-inside">

            <div class="section-header">
                <h2>Key Features</h2>
            </div>

            <div class="feature-box">
                <img src="img/like.png" alt="Easy to Use">
                <h5>Easy to Use</h5>
                <p>Just think of how easy this is to use. Toddlers can do it. So can you!</p>
            </div>

            <div class="feature-box">
                <img src="img/faces.png" alt="Fun to Use">
                <h5>Fun to Use</h5>
                <p>Just think of how easy this is to use. Toddlers can do it. So can you!</p>
            </div>

            <div class="feature-box">
                <img src="img/heart.png" alt="Fun to Use">
                <h5>You'll Love It</h5>
                <p>Just think of how easy this is to use. Toddlers can do it. So can you!</p>
            </div>

        </div>
        </div>

        <!-- testimonials section -->
        <div class="site-section site-section-secondary">
        <div class="site-section-inside">

            <div class="section-header">
                <h2>Meet the Team</h2>
            </div>

            <div class="testimonial-box">
                <div class="testimonial-author">
                    <img src="img/vaidy.jpg" alt="Vaidy">
                    <h5>Vaidy</h5>
                    <span>Space Enthusiast</span>
                </div>
            </div>

            <div class="testimonial-box">
                <div class="testimonial-author">
                    <img src="img/pooja.jpg" alt="Pooja">
                    <h5>Pooja</h5>
                    <span>Space Enthusiast</span>
                </div>
            </div>

            <div class="testimonial-box">
           <div class="testimonial-author">
                    <img src="img/farah.jpg" alt="Farah">
                    <h5>Farah</h5>
                    <span>Space Enthusiast</span>
                </div>
            </div>

        </div>
        </div>

    </main>

    <!-- the footer -->
    <footer>
    </footer>

</body>
</html>
